.fr-search-bar{
    margin-left: auto;
    margin-right: auto;
    width: 60em
    
}

<<<<<<< HEAD
.info{
    display : flex;
    width : 600px;
}
=======


>>>>>>> a67aea616ca3edaaed1e723beeabb9993ef20590

